
@{
	ViewData["Title"] = "Login";
}

<html>
<head>
	<link rel="stylesheet" href="../../wwwroot/css/site.css">
</head>
<body>
	<img id="bg" src="../../Images/vectormed.jpg" alt="Background"><br>
	<form id="formlogin" action="action_page.php" method="post">
		<div id="container-login" class="container">
			<p id="returnhome"><a href="Index.html"><span>Return Home</span></a></p>
			<h2>Sign in</h2>
			<center>
				<label id="loginlabel" for="uname"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="uname" required>

				<label id="loginlabel" for="psw"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" required>

				<button id="button-login" type="submit">Login</button><br>
				<label>
					<input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
			</center>
		</div>
	</form>
</body>
</html>


