
@{
	ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" a href="/css/design.css">

</head>
<div class="jumbotron text-center" style=" background-color:#e1d6cf">
	<img src="~/lib/image/logo.png" class="text-md-center" width="230" height="200" />
	<h1> Thank You! </h1>
	<h3><i>Project Care: To Care is To Share.</i></h3>
	<meta name="viewport" content="width=device-width" />
</div>
<body style="background-color: #f7f2ef">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4aca5;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>
	
		<center>
			<h1>Thank you for submitting your concern/s!</h1>
		</center>
	</body>
</html>

