@{
	ViewData["Title"]="";
}
<h1></h1>

<head>
    <link rel="stylesheet" href="../../wwwroot/css/site.css">
</head>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Project Care: To Care is To Share.</h1>
    <meta name="viewport" content="width=device-width" />
</div>
<body style="background-color: #f7f2ef">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4aca5;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="~/Order/Create">Create New Order</a>
                <a class="nav-item nav-link" href="~/AboutUs/Index">About Us!</a>
                <a class="nav-item nav-link" href="~/ContactUs/Index">Contact Us!</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            <section>
                <blockquote class="blockquote text-right">
                    <p class="mb-sm-auto">
                        Love, caring, and the spirit of kindness always bring happiness. Our greatest happiness
                        depends on what we love, how we care, and how we share.
                    </p>
                    <footer class="blockquote-footer">Debasish Mridha<cite title="Source Title"></cite></footer>
                </blockquote>
            </section>
			<center>
				<img src="~/lib/image/logo.png" class="text-md-center" width="470" height="400" />
			</center>
        </div>
    </div>
</body>
