
@{
	ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" a href="/css/design.css">

</head>
<div class="jumbotron text-center" style=" background-color:#e1d6cf">
	<img src="~/lib/image/logo.png" class="text-md-center" width="230" height="200" />
	<h1 style="color:indianred; font-family:Georgia"> About Project Care </h1>
	<h3><i>Project Care: To Care is To Share.</i></h3>
	<meta name="viewport" content="width=device-width" />
</div>
<body style="background-color: #f7f2ef">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4aca5;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>
	<div class="container" style="background-color: #e1d6cf">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<br />
		<h2 style="text-align:center"><u><b>What is Project Care?</b></u></h2>
		<br />
		<p style="text-align:justify">
			The PROJECT CARE contains local businesses that donates a given percentage of their income
			to their chosen charity. With this website, Consumers who
			are into online shopping can easily find business who provide
			legitimate transparency reports.
		</p>

		<p style="text-align:justify">
			The goal of the team is to make sure that the consumers can make sure that
			their choice of shop is really donating a given percentage of their income
			in their chosen charity and has legitimacy transparency report.
		</p>

		<br />
		<center>
			<h2 style="text-align:center"><u><b>Meet the Project Care team!</b> </u> </h2>
			<img src="~/lib/image/Belardo.jpg"Belardo" class="rounded-circle" style="width: 50%; height: 50%;">
			<h3><b> Ms. Katrina Belardo</b> </h3>
			<p>Support Developer (Design) </p>


			<img src="~/lib/image/Codilla.png" alt="Codilla" class="rounded-circle" style="width: 50%; height: 50%">
			<h3><b> Ms. Angelika Codilla </b> </h3>
			<p>Documentation</p>

			<img src="~/lib/image/santos.jpg" alt="Santos" class="rounded-circle" style="width: 50%; height: 50%">
			<h3> <b>Ms. Issabelle Santos</b> </h3>
			<p> Main Developer </p>

			<img src="~/lib/image/Sequitin.jpg" alt="Sequitin" class="rounded-circle" style="width: 50%; height: 50%" />
			<h3><b>Mr. Luis Sequitin</b></h3>
			<p> Main Developer</p>
		</center>
	</div>
</body>

</html>
